/* Modern Styling for MOSAIC Lab Website */

h2 {
    font-size: 24px; /* Default for other h2 elements */
}

h2#team-header {
    font-size: 36px; /* Bigger font size for the Team header */
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

header {
    background: #182B49;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

nav {
    background: #f1f1f1;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #182B49;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    color: #182B49;
    text-decoration: underline;
}

section {
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

section h2 {
    color: #182B49;
    margin-bottom: 20px;
}

footer {
    background: #182B49;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9em;
}

.students-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
.student-card {
    padding: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}
.student-card h2 {
    font-size: 16px;
    margin: 0;
    color: #000;
}
.student-card p {
    margin: 5px 0 0;
    color: #555;
}
